[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register

[Service]
ExecStart=/continuse/bin/kube-register  \
--metadata=role=worker  \
--fleet-endpoint=unix:///var/run/fleet.sock  \
--api-endpoint=http://127.0.0.1:8080  
--healthz-port=10255
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
